.procedInnerCont {
 width:99.7%;
 height:auto;
 position:relative;
 border-radius:5px;
 border:2px solid rgb(194, 194, 194);
 padding:25px; 
 font-weight:600;
}

.saveProcButton {
 border-radius:5px;
 border:1px solid rgb(96, 1, 156);
 padding:10px 45px 10px 45px;  
 font-size:1.1vw;
 font-weight:900;
 top:40px;
 left:84%;
 position:fixed;
 color:rgb(96, 1, 156);
 background-color:rgb(255, 255, 255);
}
