.procedOutterCont {
  position:absolute;
  top:0;
  left:0;
  min-width:99.9%;
  max-width:99.9%;
  height:100%;
  padding:0 0 0 0;
  overflow-y:auto;
  display:none;
  z-index:1500;
  background-color:rgb(227, 225, 225);
}

.card-body {
  position:relative;
  min-height:70vh;
  height:70vh;
  max-height:70vh;
}